## Install libraries

In [20]:
! pip install pandas
! pip install scikit-learn

Requirement already satisfied: pandas in c:\users\sameer_subudhi\anaconda3\envs\flight-price-prediction\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sameer_subudhi\anaconda3\envs\flight-price-prediction\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sameer_subudhi\anaconda3\envs\flight-price-prediction\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sameer_subudhi\anaconda3\envs\flight-price-prediction\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sameer_subudhi\anaconda3\envs\flight-price-prediction\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\sameer_subudhi\anaconda3\envs\flight-price-prediction\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Collecting scikit-learn
  Downloading scikit_learn-1.5.1-cp312-cp312-win_amd64.whl.metadata (12 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\sameer_subudhi\anaconda3\envs\flight-price-prediction\lib\site-packages (from scikit-learn) (2.0.0)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.14.0-cp312-cp312-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.8 kB ? eta -:--:--
     ---------------------------------------- 0.0/60.8 kB ? eta -:--:--
     ------ --------------------------------- 10.2/60.8 kB ? eta -:--:--
     ------------------- ------------------ 30.7/60.8 kB 435.7 kB/s eta 0:00:01
     -------------------------------- ----- 51.2/60.8 kB 440.4 kB/s eta 0:00:01
     -------------------------------------- 60.8/60.8 kB 360.9 kB/s eta 0:00:00
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.1-cp312-cp312-win_amd64.whl (10.9 MB)
   ---------------------------------------- 0.0/10.9 MB ? eta -:--:--
   ---------------------------------------- 0.1/10.9 MB 2.2 MB/s eta 0:00:05
   - -------------------------------------- 0.3/10.9 MB 3.8 MB/s eta 0:00:03
   --- ------------------------------------ 0.9/10.9 MB 6.1 MB/s eta 0:00:02
   --- ------------------------------------ 1.0/10.9 MB 5.5 MB/s eta 0:00:02
   ---- ----------------------------------- 1.2/10.9 MB 5.3 MB/s eta 0:00:02
   ---- ----------------------------------- 1.4/10.9 MB 5.1 MB/s eta 0:00:02
   ---- ----------------------------------- 1.4/10.9 MB 5.1 MB/s eta 0:00:02
   ---- ----------------------------------- 1.4/10.9 MB 5.1 MB/s eta 0:00:02
   ----- ---------------------------------- 1.5/10.9 MB 3.5 MB/s eta 0:00:03
   ------ --------------------------------- 1.7/10.9 MB 3.5 MB/s eta 0:00:03
   ------ --------------------------------- 1.8/10.9 MB 3.7 MB/s eta 0:00:03
   ------ --------------------------------- 1.8/10.9 MB 3.7 MB/s eta 0:00:03
   ------ --------------------------------- 1.8/10.9 MB 3.7 MB/s eta 0:00:03
   ------ --------------------------------- 1.9/10.9 MB 2.8 MB/s eta 0:00:04
   ---------- ----------------------------- 3.0/10.9 MB 4.2 MB/s eta 0:00:02
   ----------- ---------------------------- 3.3/10.9 MB 4.4 MB/s eta 0:00:02
   ------------ --------------------------- 3.5/10.9 MB 4.3 MB/s eta 0:00:02
   ------------- -------------------------- 3.7/10.9 MB 4.2 MB/s eta 0:00:02
   ------------- -------------------------- 3.7/10.9 MB 4.3 MB/s eta 0:00:02
   ------------- -------------------------- 3.7/10.9 MB 4.3 MB/s eta 0:00:02
   ------------- -------------------------- 3.7/10.9 MB 4.3 MB/s eta 0:00:02
   ------------- -------------------------- 3.7/10.9 MB 4.3 MB/s eta 0:00:02
   ------------- -------------------------- 3.7/10.9 MB 4.3 MB/s eta 0:00:02
   ----------------- ---------------------- 4.8/10.9 MB 4.2 MB/s eta 0:00:02
   ------------------ --------------------- 5.0/10.9 MB 4.2 MB/s eta 0:00:02
   ------------------ --------------------- 5.2/10.9 MB 4.2 MB/s eta 0:00:02
   ------------------- -------------------- 5.3/10.9 MB 4.2 MB/s eta 0:00:02
   -------------------- ------------------- 5.5/10.9 MB 4.1 MB/s eta 0:00:02
   -------------------- ------------------- 5.7/10.9 MB 4.1 MB/s eta 0:00:02
   --------------------- ------------------ 5.9/10.9 MB 4.1 MB/s eta 0:00:02
   ---------------------- ----------------- 6.1/10.9 MB 4.1 MB/s eta 0:00:02
   ---------------------- ----------------- 6.3/10.9 MB 4.1 MB/s eta 0:00:02
   ----------------------- ---------------- 6.5/10.9 MB 4.1 MB/s eta 0:00:02
   ------------------------ --------------- 6.6/10.9 MB 4.1 MB/s eta 0:00:02
   ------------------------ --------------- 6.8/10.9 MB 4.1 MB/s eta 0:00:01
   ------------------------- -------------- 7.0/10.9 MB 4.1 MB/s eta 0:00:01
   -------------------------- ------------- 7.2/10.9 MB 4.1 MB/s eta 0:00:01
   --------------------------- ------------ 7.4/10.9 MB 4.1 MB/s eta 0:00:01
   --------------------------- ------------ 7.6/10.9 MB 4.1 MB/s eta 0:00:01
   ---------------------------- ----------- 7.8/10.9 MB 4.1 MB/s eta 0:00:01
   ----------------------------- ---------- 7.9/10.9 MB 4.1 MB/s eta 0:00:01
   ----------------------------- ---------- 8.1/10.9 MB 4.1 MB/s eta 0:00:01
   ------------------------------ --------- 8.3/10.9 MB 4.1 MB/s eta 0:00:01
   ------------------------------- -------- 8.5/10.9 MB 4.1 MB/s eta 0:00:01
   ------------------------------- -------- 8.7/10.9 MB 4.1 MB/s eta 0:00:01
   -------------------------------- ------- 8.9/10.9 MB 4.1 MB/s eta 0:00:01
   --------------------------------- ------ 9.1/10.9 MB 4.0 MB/s eta 0:00:01
   --------------------------------- ------ 9.3/10.9 MB 4.1 MB/s eta 0:00:01
   ---------------------------------- ----- 9.4/10.9 MB 4.0 MB/s eta 0:00:01
   ----------------------------------- ---- 9.6/10.9 MB 4.0 MB/s eta 0:00:01
   ----------------------------------- ---- 9.8/10.9 MB 4.0 MB/s eta 0:00:01
   ------------------------------------ --- 10.0/10.9 MB 4.0 MB/s eta 0:00:01
   ------------------------------------- -- 10.2/10.9 MB 4.0 MB/s eta 0:00:01
   ------------------------------------- -- 10.4/10.9 MB 4.1 MB/s eta 0:00:01
   -------------------------------------- - 10.6/10.9 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  10.8/10.9 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  10.9/10.9 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  10.9/10.9 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  10.9/10.9 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  10.9/10.9 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  10.9/10.9 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  10.9/10.9 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  10.9/10.9 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  10.9/10.9 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  10.9/10.9 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  10.9/10.9 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  10.9/10.9 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  10.9/10.9 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  10.9/10.9 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  10.9/10.9 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  10.9/10.9 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  10.9/10.9 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  10.9/10.9 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------- 10.9/10.9 MB 3.1 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
   ---------------------------------------- 0.0/301.8 kB ? eta -:--:--
   ---------------------------------------  297.0/301.8 kB 9.2 MB/s eta 0:00:01
   ---------------------------------------  297.0/301.8 kB 9.2 MB/s eta 0:00:01
   ---------------------------------------- 301.8/301.8 kB 2.7 MB/s eta 0:00:00
Downloading scipy-1.14.0-cp312-cp312-win_amd64.whl (44.5 MB)
   ---------------------------------------- 0.0/44.5 MB ? eta -:--:--
    --------------------------------------- 0.6/44.5 MB 19.2 MB/s eta 0:00:03
    --------------------------------------- 0.8/44.5 MB 9.8 MB/s eta 0:00:05
    --------------------------------------- 1.0/44.5 MB 6.9 MB/s eta 0:00:07
   - -------------------------------------- 1.2/44.5 MB 6.2 MB/s eta 0:00:07
   - -------------------------------------- 1.4/44.5 MB 5.8 MB/s eta 0:00:08
   - -------------------------------------- 1.6/44.5 MB 5.5 MB/s eta 0:00:08
   - -------------------------------------- 1.8/44.5 MB 5.3 MB/s eta 0:00:09
   - -------------------------------------- 1.9/44.5 MB 5.1 MB/s eta 0:00:09
   - -------------------------------------- 2.1/44.5 MB 5.0 MB/s eta 0:00:09
   -- ------------------------------------- 2.3/44.5 MB 4.9 MB/s eta 0:00:09
   -- ------------------------------------- 2.5/44.5 MB 4.8 MB/s eta 0:00:09
   -- ------------------------------------- 2.7/44.5 MB 4.8 MB/s eta 0:00:09
   -- ------------------------------------- 2.9/44.5 MB 4.7 MB/s eta 0:00:09
   -- ------------------------------------- 3.1/44.5 MB 4.7 MB/s eta 0:00:09
   -- ------------------------------------- 3.2/44.5 MB 4.5 MB/s eta 0:00:10
   --- ------------------------------------ 3.4/44.5 MB 4.6 MB/s eta 0:00:09
   --- ------------------------------------ 3.6/44.5 MB 4.5 MB/s eta 0:00:10
   --- ------------------------------------ 3.8/44.5 MB 4.5 MB/s eta 0:00:10
   --- ------------------------------------ 4.0/44.5 MB 4.5 MB/s eta 0:00:10
   --- ------------------------------------ 4.1/44.5 MB 4.4 MB/s eta 0:00:10
   --- ------------------------------------ 4.4/44.5 MB 4.4 MB/s eta 0:00:10
   ---- ----------------------------------- 4.5/44.5 MB 4.4 MB/s eta 0:00:10
   ---- ----------------------------------- 4.7/44.5 MB 4.4 MB/s eta 0:00:10
   ---- ----------------------------------- 4.9/44.5 MB 4.4 MB/s eta 0:00:10
   ---- ----------------------------------- 5.1/44.5 MB 4.3 MB/s eta 0:00:10
   ---- ----------------------------------- 5.3/44.5 MB 4.3 MB/s eta 0:00:10
   ---- ----------------------------------- 5.5/44.5 MB 4.3 MB/s eta 0:00:10
   ----- ---------------------------------- 5.7/44.5 MB 4.3 MB/s eta 0:00:10
   ----- ---------------------------------- 5.8/44.5 MB 4.3 MB/s eta 0:00:09
   ----- ---------------------------------- 6.0/44.5 MB 4.3 MB/s eta 0:00:09
   ----- ---------------------------------- 6.2/44.5 MB 4.2 MB/s eta 0:00:10
   ----- ---------------------------------- 6.4/44.5 MB 4.3 MB/s eta 0:00:09
   ----- ---------------------------------- 6.6/44.5 MB 4.2 MB/s eta 0:00:09
   ------ --------------------------------- 6.8/44.5 MB 4.2 MB/s eta 0:00:09
   ------ --------------------------------- 7.0/44.5 MB 4.2 MB/s eta 0:00:09
   ------ --------------------------------- 7.2/44.5 MB 4.2 MB/s eta 0:00:09
   ------ --------------------------------- 7.4/44.5 MB 4.2 MB/s eta 0:00:09
   ------ --------------------------------- 7.6/44.5 MB 4.2 MB/s eta 0:00:09
   ------ --------------------------------- 7.8/44.5 MB 4.2 MB/s eta 0:00:09
   ------- -------------------------------- 7.9/44.5 MB 4.2 MB/s eta 0:00:09
   ------- -------------------------------- 8.1/44.5 MB 4.2 MB/s eta 0:00:09
   ------- -------------------------------- 8.3/44.5 MB 4.2 MB/s eta 0:00:09
   ------- -------------------------------- 8.5/44.5 MB 4.2 MB/s eta 0:00:09
   ------- -------------------------------- 8.7/44.5 MB 4.2 MB/s eta 0:00:09
   ------- -------------------------------- 8.9/44.5 MB 4.1 MB/s eta 0:00:09
   -------- ------------------------------- 9.1/44.5 MB 4.1 MB/s eta 0:00:09
   -------- ------------------------------- 9.3/44.5 MB 4.1 MB/s eta 0:00:09
   -------- ------------------------------- 9.4/44.5 MB 4.1 MB/s eta 0:00:09
   -------- ------------------------------- 9.6/44.5 MB 4.1 MB/s eta 0:00:09
   -------- ------------------------------- 9.8/44.5 MB 4.1 MB/s eta 0:00:09
   --------- ------------------------------ 10.0/44.5 MB 4.1 MB/s eta 0:00:09
   --------- ------------------------------ 10.2/44.5 MB 4.1 MB/s eta 0:00:09
   --------- ------------------------------ 10.4/44.5 MB 4.1 MB/s eta 0:00:09
   --------- ------------------------------ 10.6/44.5 MB 4.0 MB/s eta 0:00:09
   --------- ------------------------------ 10.8/44.5 MB 3.9 MB/s eta 0:00:09
   --------- ------------------------------ 11.0/44.5 MB 3.9 MB/s eta 0:00:09
   ---------- ----------------------------- 11.2/44.5 MB 3.9 MB/s eta 0:00:09
   ---------- ----------------------------- 11.3/44.5 MB 3.9 MB/s eta 0:00:09
   ---------- ----------------------------- 11.6/44.5 MB 3.9 MB/s eta 0:00:09
   ---------- ----------------------------- 11.7/44.5 MB 3.9 MB/s eta 0:00:09
   ---------- ----------------------------- 11.9/44.5 MB 3.9 MB/s eta 0:00:09
   ---------- ----------------------------- 12.1/44.5 MB 3.9 MB/s eta 0:00:09
   ----------- ---------------------------- 12.3/44.5 MB 3.9 MB/s eta 0:00:09
   ----------- ---------------------------- 12.5/44.5 MB 3.9 MB/s eta 0:00:09
   ----------- ---------------------------- 12.7/44.5 MB 3.9 MB/s eta 0:00:09
   ----------- ---------------------------- 12.9/44.5 MB 3.9 MB/s eta 0:00:09
   ----------- ---------------------------- 13.0/44.5 MB 3.9 MB/s eta 0:00:09
   ----------- ---------------------------- 13.2/44.5 MB 3.9 MB/s eta 0:00:08
   ------------ --------------------------- 13.4/44.5 MB 3.9 MB/s eta 0:00:08
   ------------ --------------------------- 13.6/44.5 MB 4.0 MB/s eta 0:00:08
   ------------ --------------------------- 13.8/44.5 MB 3.9 MB/s eta 0:00:08
   ------------ --------------------------- 14.0/44.5 MB 3.9 MB/s eta 0:00:08
   ------------ --------------------------- 14.2/44.5 MB 3.9 MB/s eta 0:00:08
   ------------ --------------------------- 14.4/44.5 MB 3.9 MB/s eta 0:00:08
   ------------- -------------------------- 14.5/44.5 MB 4.0 MB/s eta 0:00:08
   ------------- -------------------------- 14.7/44.5 MB 3.9 MB/s eta 0:00:08
   ------------- -------------------------- 14.9/44.5 MB 3.9 MB/s eta 0:00:08
   ------------- -------------------------- 15.1/44.5 MB 3.9 MB/s eta 0:00:08
   ------------- -------------------------- 15.3/44.5 MB 3.9 MB/s eta 0:00:08
   ------------- -------------------------- 15.5/44.5 MB 3.9 MB/s eta 0:00:08
   -------------- ------------------------- 15.7/44.5 MB 3.9 MB/s eta 0:00:08
   -------------- ------------------------- 15.9/44.5 MB 3.9 MB/s eta 0:00:08
   -------------- ------------------------- 16.0/44.5 MB 3.9 MB/s eta 0:00:08
   -------------- ------------------------- 16.2/44.5 MB 3.9 MB/s eta 0:00:08
   -------------- ------------------------- 16.4/44.5 MB 3.9 MB/s eta 0:00:08
   -------------- ------------------------- 16.6/44.5 MB 3.9 MB/s eta 0:00:08
   --------------- ------------------------ 16.8/44.5 MB 3.9 MB/s eta 0:00:08
   --------------- ------------------------ 17.0/44.5 MB 3.9 MB/s eta 0:00:08
   --------------- ------------------------ 17.2/44.5 MB 3.9 MB/s eta 0:00:07
   --------------- ------------------------ 17.4/44.5 MB 3.9 MB/s eta 0:00:07
   --------------- ------------------------ 17.6/44.5 MB 3.9 MB/s eta 0:00:07
   --------------- ------------------------ 17.7/44.5 MB 3.9 MB/s eta 0:00:07
   ---------------- ----------------------- 17.9/44.5 MB 3.9 MB/s eta 0:00:07
   ---------------- ----------------------- 18.1/44.5 MB 3.9 MB/s eta 0:00:07
   ---------------- ----------------------- 18.3/44.5 MB 3.9 MB/s eta 0:00:07
   ---------------- ----------------------- 18.5/44.5 MB 3.9 MB/s eta 0:00:07
   ---------------- ----------------------- 18.7/44.5 MB 3.9 MB/s eta 0:00:07
   ---------------- ----------------------- 18.9/44.5 MB 3.9 MB/s eta 0:00:07
   ----------------- ---------------------- 19.0/44.5 MB 3.9 MB/s eta 0:00:07
   ----------------- ---------------------- 19.2/44.5 MB 3.9 MB/s eta 0:00:07
   ----------------- ---------------------- 19.4/44.5 MB 3.9 MB/s eta 0:00:07
   ----------------- ---------------------- 19.6/44.5 MB 3.9 MB/s eta 0:00:07
   ----------------- ---------------------- 19.8/44.5 MB 4.0 MB/s eta 0:00:07
   ----------------- ---------------------- 20.0/44.5 MB 3.9 MB/s eta 0:00:07
   ------------------ --------------------- 20.2/44.5 MB 3.9 MB/s eta 0:00:07
   ------------------ --------------------- 20.4/44.5 MB 4.0 MB/s eta 0:00:07
   ------------------ --------------------- 20.6/44.5 MB 3.9 MB/s eta 0:00:07
   ------------------ --------------------- 20.8/44.5 MB 3.9 MB/s eta 0:00:07
   ------------------ --------------------- 20.9/44.5 MB 3.9 MB/s eta 0:00:06
   ------------------- -------------------- 21.1/44.5 MB 3.9 MB/s eta 0:00:06
   ------------------- -------------------- 21.3/44.5 MB 3.9 MB/s eta 0:00:06
   ------------------- -------------------- 21.5/44.5 MB 3.9 MB/s eta 0:00:06
   ------------------- -------------------- 21.7/44.5 MB 3.9 MB/s eta 0:00:06
   ------------------- -------------------- 21.9/44.5 MB 3.9 MB/s eta 0:00:06
   ------------------- -------------------- 22.1/44.5 MB 3.9 MB/s eta 0:00:06
   -------------------- ------------------- 22.2/44.5 MB 3.9 MB/s eta 0:00:06
   -------------------- ------------------- 22.4/44.5 MB 3.9 MB/s eta 0:00:06
   -------------------- ------------------- 22.6/44.5 MB 3.9 MB/s eta 0:00:06
   -------------------- ------------------- 22.8/44.5 MB 3.9 MB/s eta 0:00:06
   -------------------- ------------------- 23.0/44.5 MB 3.9 MB/s eta 0:00:06
   -------------------- ------------------- 23.2/44.5 MB 3.9 MB/s eta 0:00:06
   --------------------- ------------------ 23.4/44.5 MB 3.9 MB/s eta 0:00:06
   --------------------- ------------------ 23.6/44.5 MB 3.9 MB/s eta 0:00:06
   --------------------- ------------------ 23.8/44.5 MB 3.9 MB/s eta 0:00:06
   --------------------- ------------------ 24.0/44.5 MB 3.9 MB/s eta 0:00:06
   --------------------- ------------------ 24.1/44.5 MB 4.0 MB/s eta 0:00:06
   --------------------- ------------------ 24.3/44.5 MB 3.9 MB/s eta 0:00:06
   ---------------------- ----------------- 24.5/44.5 MB 3.9 MB/s eta 0:00:06
   ---------------------- ----------------- 24.7/44.5 MB 3.9 MB/s eta 0:00:06
   ---------------------- ----------------- 24.9/44.5 MB 3.9 MB/s eta 0:00:05
   ---------------------- ----------------- 25.1/44.5 MB 3.9 MB/s eta 0:00:05
   ---------------------- ----------------- 25.2/44.5 MB 3.9 MB/s eta 0:00:05
   ---------------------- ----------------- 25.4/44.5 MB 3.9 MB/s eta 0:00:05
   ----------------------- ---------------- 25.6/44.5 MB 3.9 MB/s eta 0:00:05
   ----------------------- ---------------- 25.8/44.5 MB 4.0 MB/s eta 0:00:05
   ----------------------- ---------------- 26.0/44.5 MB 3.9 MB/s eta 0:00:05
   ----------------------- ---------------- 26.2/44.5 MB 3.9 MB/s eta 0:00:05
   ----------------------- ---------------- 26.4/44.5 MB 3.9 MB/s eta 0:00:05
   ----------------------- ---------------- 26.6/44.5 MB 3.9 MB/s eta 0:00:05
   ------------------------ --------------- 26.7/44.5 MB 3.9 MB/s eta 0:00:05
   ------------------------ --------------- 27.0/44.5 MB 3.9 MB/s eta 0:00:05
   ------------------------ --------------- 27.1/44.5 MB 3.9 MB/s eta 0:00:05
   ------------------------ --------------- 27.3/44.5 MB 3.9 MB/s eta 0:00:05
   ------------------------ --------------- 27.5/44.5 MB 3.9 MB/s eta 0:00:05
   ------------------------ --------------- 27.7/44.5 MB 3.9 MB/s eta 0:00:05
   ------------------------- -------------- 27.9/44.5 MB 3.9 MB/s eta 0:00:05
   ------------------------- -------------- 28.1/44.5 MB 3.9 MB/s eta 0:00:05
   ------------------------- -------------- 28.3/44.5 MB 3.9 MB/s eta 0:00:05
   ------------------------- -------------- 28.4/44.5 MB 3.9 MB/s eta 0:00:05
   ------------------------- -------------- 28.6/44.5 MB 3.9 MB/s eta 0:00:05

## Importing libraries

In [21]:
import os
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

## Read data

In [22]:
PROJECT_DIR = r"C:\Users\Sameer_Subudhi\Desktop\Me\Research\ML\flight-price-prediction"
DATA_DIR = "data"

In [23]:
def get_data(name):
	file_name = f"{name}.csv"
	file_path = os.path.join(PROJECT_DIR, DATA_DIR, file_name)
	return pd.read_csv(file_path)

In [24]:
flights = get_data("flight_price")
flights

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [25]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

- The dataset contains 10,683 rows and 11 features
- Columns Route and Total_Stops have missing value each
- The data types of some features isn't appropriate

## Preliminary Analysis

### Check Data Types

In [27]:
flights.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [28]:
flights.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

In [34]:
value = flights.Date_of_Journey.iloc[6]
value

'12/03/2019'

In [33]:
value = flights.Dep_Time.iloc[6]
value

'18:55'

### Check for Duplicates

In [45]:
flights.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
10678    False
10679    False
10680    False
10681    False
10682    False
Length: 10683, dtype: bool

In [46]:
(
	flights
	.loc[flights.duplicated(keep=False)]
	.sort_values(["Airline", "Date_of_Journey", "Source", "Destination"])
)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
6321,Air India,01/03/2019,Banglore,New Delhi,BLR → BOM → AMD → DEL,08:50,23:55 02 Mar,39h 5m,2 stops,No info,17135
9848,Air India,01/03/2019,Banglore,New Delhi,BLR → BOM → AMD → DEL,08:50,23:55 02 Mar,39h 5m,2 stops,No info,17135
572,Air India,03/03/2019,Banglore,New Delhi,BLR → DEL,21:10,23:55,2h 45m,non-stop,No info,7591
8168,Air India,03/03/2019,Banglore,New Delhi,BLR → DEL,21:10,23:55,2h 45m,non-stop,No info,7591
1495,Air India,1/04/2019,Kolkata,Banglore,CCU → DEL → COK → BLR,10:00,01:20 02 Apr,15h 20m,2 stops,No info,10408
...,...,...,...,...,...,...,...,...,...,...,...
2692,SpiceJet,24/03/2019,Banglore,New Delhi,BLR → DEL,05:45,08:35,2h 50m,non-stop,No check-in baggage included,4273
2870,SpiceJet,24/03/2019,Banglore,New Delhi,BLR → DEL,05:45,08:35,2h 50m,non-stop,No check-in baggage included,4273
3711,SpiceJet,24/03/2019,Banglore,New Delhi,BLR → DEL,20:30,23:20,2h 50m,non-stop,No check-in baggage included,3873
2634,Vistara,24/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,5403
5470,Vistara,24/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,5403

### 3.3 Observations

- The type of Date_of_Journey, Dep_Time and Arrival_Time should be changed to datetime
- The type of Duration and Total_Stops is mixed. It should be numeric type.
- There're 220 duplicates. These should be removed.

## 4. Detailed Analysis

### Airline

In [60]:
flights.Airline

0             IndiGo
1          Air India
2        Jet Airways
3             IndiGo
4             IndiGo
            ...
10678       Air Asia
10679      Air India
10680    Jet Airways
10681        Vistara
10682      Air India
Name: Airline, Length: 10683, dtype: object

In [61]:
flights.Airline.unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [64]:
(
	flights
	.Airline
	.str.replace(" Premium economy", "")
	.str.replace(" Business", "")
	.str.title()
)

0             Indigo
1          Air India
2        Jet Airways
3             Indigo
4             Indigo
            ...
10678       Air Asia
10679      Air India
10680    Jet Airways
10681        Vistara
10682      Air India
Name: Airline, Length: 10683, dtype: object

- Some of the entries have inconsistent/inaccurate values

### Date_of_Journey

In [75]:
flights.Date_of_Journey

0        24/03/2019
1         1/05/2019
2         9/06/2019
3        12/05/2019
4        01/03/2019
            ...
10678     9/04/2019
10679    27/04/2019
10680    27/04/2019
10681    01/03/2019
10682     9/05/2019
Name: Date_of_Journey, Length: 10683, dtype: object

In [77]:
pd.to_datetime(flights.Date_of_Journey, dayfirst=True)

0       2019-03-24
1       2019-05-01
2       2019-06-09
3       2019-05-12
4       2019-03-01
           ...
10678   2019-04-09
10679   2019-04-27
10680   2019-04-27
10681   2019-03-01
10682   2019-05-09
Name: Date_of_Journey, Length: 10683, dtype: datetime64[ns]

### Source

In [84]:
flights.Source.unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

### Destination

In [85]:
flights.Destination.unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

### Dep_time

In [87]:
flights.Dep_Time

0        22:20
1        05:50
2        09:25
3        18:05
4        16:50
         ...
10678    19:55
10679    20:45
10680    08:20
10681    11:30
10682    10:55
Name: Dep_Time, Length: 10683, dtype: object

In [92]:
(
	flights
	.Dep_Time
	.loc[lambda ser: ser.str.contains("[^0-9:]")]
)

Series([], Name: Dep_Time, dtype: object)

In [95]:
pd.to_datetime(flights.Dep_Time).dt.time

C:\Users\Sameer_Subudhi\AppData\Local\Temp\ipykernel_35796\1056054517.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(flights.Dep_Time).dt.time

0        22:20:00
1        05:50:00
2        09:25:00
3        18:05:00
4        16:50:00
           ...
10678    19:55:00
10679    20:45:00
10680    08:20:00
10681    11:30:00
10682    10:55:00
Name: Dep_Time, Length: 10683, dtype: object

### Arrival_Time

In [99]:
flights.Arrival_Time

0        01:10 22 Mar
1               13:15
2        04:25 10 Jun
3               23:30
4               21:35
             ...
10678           22:25
10679           23:20
10680           11:20
10681           14:10
10682           19:15
Name: Arrival_Time, Length: 10683, dtype: object

In [109]:
(
	flights
	.Arrival_Time
	.loc[lambda ser: ser.str.contains("[^0-9:]")]
	.str.split(" ", n=1)
	.str.get(1)
	.unique()
)

array(['22 Mar', '10 Jun', '13 Mar', '02 Mar', '10 May', '04 Mar',
       '13 Jun', '28 May', '19 Mar', '07 May', '02 Jun', '16 Jun',
       '19 May', '16 May', '28 Jun', '02 May', '28 Mar', '19 Jun',
       '04 Apr', '25 Mar', '07 Mar', '25 Jun', '07 Jun', '25 May',
       '13 May', '16 Mar', '22 May', '10 Apr', '04 Jun', '20 May',
       '28 Apr', '25 Apr', '10 Mar', '19 Apr', '13 Apr', '02 Apr',
       '23 Mar', '22 Apr', '11 May', '07 Apr', '03 May', '08 Mar',
       '03 Mar', '05 Mar', '22 Jun', '04 May', '26 May', '16 Apr',
       '26 Jun', '29 May', '29 Jun', '29 Mar', '23 May', '17 Jun'],
      dtype=object)

### Duration

In [112]:
flights.Duration

0        2h 50m
1        7h 25m
2           19h
3        5h 25m
4        4h 45m
          ...
10678    2h 30m
10679    2h 35m
10680        3h
10681    2h 40m
10682    8h 20m
Name: Duration, Length: 10683, dtype: object

In [113]:
(
	flights
	.Duration
	.loc[lambda ser: ~ser.str.contains("m")]
	.unique()
)

array(['19h', '23h', '22h', '12h', '3h', '5h', '10h', '18h', '24h', '15h',
       '16h', '8h', '14h', '20h', '13h', '11h', '9h', '27h', '26h', '4h',
       '7h', '30h', '21h', '28h', '47h', '6h', '25h', '38h', '34h'],
      dtype=object)

In [116]:
(
	flights
	.Duration
	.loc[lambda ser: ~ser.str.contains("h")]
	# .unique()
)

6474    5m
Name: Duration, dtype: object

In [117]:
flights.iloc[[6474]]

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
6474,Air India,6/03/2019,Mumbai,Hyderabad,BOM → GOI → PNQ → HYD,16:50,16:55,5m,2 stops,No info,17327

- The observation indexed 6474 has duration of 5 minutes. This is clearly wrong. Will delete this observation.

In [132]:
(
	flights
	.Duration
	.drop(index=6474)
	.str.split(" ", expand=True)
	.set_axis(["hour", "minute"], axis=1)
	.assign(
		hour=lambda df_: (
			df_
			.hour
			.str.replace("h", "")
			.astype(int)
			.mul(60)
		),
		minute=lambda df_: (
			df_
			.minute
			.str.replace("m", "")
			.fillna("0")
			.astype(int)
		)
    ) #.isna().sum()
    .sum(axis=1)
    .rename("duration_minutes")
    .to_frame()
    .join(flights.Duration.drop(index=6474))
)

       duration_minutes Duration
0                   170   2h 50m
1                   445   7h 25m
2                  1140      19h
3                   325   5h 25m
4                   285   4h 45m
...                 ...      ...
10678               150   2h 30m
10679               155   2h 35m
10680               180       3h
10681               160   2h 40m
10682               500   8h 20m

[10682 rows x 2 columns]

### Total_Stops

In [142]:
flights.Total_Stops.unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [144]:
(
	flights
	.Total_Stops
	.replace("non-stop", "0")
	.str.replace(" stops?", "", regex=True) # " stop" " stops"
	.pipe(lambda ser: pd.to_numeric(ser))
)

0        0.0
1        2.0
2        2.0
3        1.0
4        1.0
        ...
10678    0.0
10679    0.0
10680    0.0
10681    0.0
10682    2.0
Name: Total_Stops, Length: 10683, dtype: float64

### additional_info

In [148]:
flights.Additional_Info.unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

## 5. Cleaning Operations

In [133]:
def convert_to_minutes(ser):
	return (
		ser
		.str.split(" ", expand=True)
		.set_axis(["hour", "minute"], axis=1)
		.assign(
			hour=lambda df_: (
				df_
				.hour
				.str.replace("h", "")
				.astype(int)
				.mul(60)
			),
			minute=lambda df_: (
				df_
				.minute
				.str.replace("m", "")
				.fillna("0")
				.astype(int)
			)
		)
		.sum(axis=1)
	)

In [169]:
def clean_data(df):
	return (
		df
        .drop_duplicates()
        .drop(index=[6474])
		.assign(**{
			col: df[col].str.strip()
			for col in df.select_dtypes(include="O").columns
		})
		.rename(columns=str.lower)
		.assign(
			airline=lambda df_: (
				df_
				.airline
				.str.replace(" Premium economy", "")
				.str.replace(" Business", "")
				.str.title()
			),
            date_of_journey=lambda df_: pd.to_datetime(df_.date_of_journey, dayfirst=True),
            dep_time=lambda df_: pd.to_datetime(df_.dep_time, format='%H:%M').dt.time,
            arrival_time=lambda df_: pd.to_datetime(df_.arrival_time).dt.time,
            duration=lambda df_: df_.duration.pipe(convert_to_minutes),
            total_stops=lambda df_: (
				df_
				.total_stops
				.replace("non-stop", "0")
				.str.replace(" stops?", "", regex=True)
				.pipe(lambda ser: pd.to_numeric(ser))
			),
            additional_info=lambda df_: df_.additional_info.replace("No info", "No Info")
        )
        .drop(columns="route")
	)

In [170]:
flights_cleaned = clean_data(flights)
flights_cleaned

C:\Users\Sameer_Subudhi\AppData\Local\Temp\ipykernel_35796\3477465299.py:21: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  arrival_time=lambda df_: pd.to_datetime(df_.arrival_time).dt.time,

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Indigo,2019-03-24,Banglore,New Delhi,22:20:00,01:10:00,170,0.0,No Info,3897
1,Air India,2019-05-01,Kolkata,Banglore,05:50:00,13:15:00,445,2.0,No Info,7662
2,Jet Airways,2019-06-09,Delhi,Cochin,09:25:00,04:25:00,1140,2.0,No Info,13882
3,Indigo,2019-05-12,Kolkata,Banglore,18:05:00,23:30:00,325,1.0,No Info,6218
4,Indigo,2019-03-01,Banglore,New Delhi,16:50:00,21:35:00,285,1.0,No Info,13302
...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,19:55:00,22:25:00,150,0.0,No Info,4107
10679,Air India,2019-04-27,Kolkata,Banglore,20:45:00,23:20:00,155,0.0,No Info,4145
10680,Jet Airways,2019-04-27,Banglore,Delhi,08:20:00,11:20:00,180,0.0,No Info,7229
10681,Vistara,2019-03-01,Banglore,New Delhi,11:30:00,14:10:00,160,0.0,No Info,12648
10682,Air India,2019-05-09,Delhi,Cochin,10:55:00,19:15:00,500,2.0,No Info,11753

## 6. Split the Data

In [152]:
flights_final = flights_cleaned.sample(1000)

In [156]:
X = flights_final.drop(columns="price")
y = flights_final.price.copy()

In [159]:
X_, X_test, y_, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train, X_val, y_train, y_val = train_test_split(X_, y_, test_size=0.2, random_state=42)

In [160]:
print(X_train.shape, y_train.shape)
print(X_val.shape, y_val.shape)
print(X_test.shape, y_test.shape)

(640, 9) (640,)
(160, 9) (160,)
(200, 9) (200,)

## 7. Export the Subsets

In [163]:
def export_data(X, y, name):
	file_name = f"{name}.csv"
	file_path = os.path.join(PROJECT_DIR, DATA_DIR, file_name)

	X.join(y).to_csv(file_path, index=False)

	return pd.read_csv(file_path).head()

In [164]:
export_data(X_train, y_train, "train")

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Jet Airways,2019-05-18,Delhi,Cochin,02:15:00,19:00:00,1005,1.0,No Info,15554
1,Air India,2019-03-24,Mumbai,Hyderabad,19:30:00,20:45:00,75,0.0,No Info,2575
2,Jet Airways,2019-03-24,Kolkata,Banglore,06:30:00,16:20:00,590,1.0,In-flight meal not included,8824
3,Air India,2019-03-03,Delhi,Cochin,07:05:00,19:15:00,2170,2.0,No Info,11762
4,Multiple Carriers,2019-03-03,Delhi,Cochin,10:20:00,01:35:00,915,1.0,No Info,15147

In [165]:
export_data(X_val, y_val, "val")

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Air Asia,2019-04-01,Kolkata,Banglore,07:35:00,19:25:00,710,1.0,No Info,5192
1,Jet Airways,2019-05-24,Kolkata,Banglore,06:30:00,19:50:00,800,1.0,No Info,14571
2,Indigo,2019-06-24,Delhi,Cochin,07:35:00,12:10:00,275,1.0,No Info,5054
3,Vistara,2019-05-21,Kolkata,Banglore,07:10:00,10:45:00,1655,1.0,No Info,9187
4,Spicejet,2019-06-03,Delhi,Cochin,08:45:00,13:15:00,270,1.0,No check-in baggage included,5726

In [166]:
export_data(X_test, y_test, "test")

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Multiple Carriers,2019-05-15,Delhi,Cochin,11:30:00,01:30:00,840,1.0,No Info,13727
1,Vistara,2019-05-03,Chennai,Kolkata,17:45:00,20:05:00,140,0.0,No Info,11982
2,Indigo,2019-03-15,Chennai,Kolkata,22:05:00,00:30:00,145,0.0,No Info,6297
3,Jet Airways,2019-03-09,Delhi,Cochin,19:15:00,18:50:00,1415,1.0,In-flight meal not included,14053
4,Jet Airways,2019-06-12,Banglore,Delhi,11:10:00,14:05:00,175,0.0,In-flight meal not included,5769